<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<link href="/stylesheets/admin_home.css" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/user_list.css">
<% include ./slide_nav.ejs %>
<style>
  #myTable_filter{
    display:none;
  }
  
  input[type=text] { border: 1px solid #000 !important; 
    box-shadow: 0 1px 0 0 #000; 
    margin:0 !important;
  }
</style>

<!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Delete Account?</h4>
      <p>You will lose all the details of the student! Are you sure you want to delete this account? </p>
    </div>
    <div class="modal-footer">
        <a onclick="f2('no')" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
        <a href="" onclick="f2('yes')" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
  </div>


<div class="row" style="margin-top:-100px">
    <p style="width:300px;margin-left:50%" >
      <input type="text" id="myInput" placeholder="Search">
    </p>
    <table class="highlight centered" id='myTable'>
        <thead>
          <tr>
              <th onclick="sortTable(0,this)">First Name</th>
              <th onclick="sortTable(1,this)">Last Name</th>
              <th onclick="sortTable(2,this)">User Type</th>
              <th onclick="sortTable(3,this)">Email</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
          <% var name=[];%>
            <% Users.forEach(function(el, index){ %>
            <% name.push(Users[index].firstName); %>
          <tr>
            <td><%= Users[index].firstName %></td>
            <td><%= Users[index].lastName %></td>
            <td><%= Users[index].userType %></td>
            <td><%= Users[index].email %></td>
            <td style="padding: 0px"> 
                <a href="#modal1" onclick="f1('<%= Users[index]._id %>')"><i class="material-icons delete">delete</i> </a>
                <a href=""><i class="material-icons edit">mode_edit</i></a>
            </td>
          </tr>
          <% }); %>
        </tbody>
    </table>    
</div>

  
<script>

function sortTable(n,ele) {
    console.log(ele);
    ele.style.color =  'blue';
    $(ele).siblings().css({'color':'black'});
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
<script>
$(document).ready(function(){
        var userID='';
        $('.modal').modal();
  });
  function f1(uid){
      userID = uid;
  }
  function f2(approval){
    if(approval==='yes'){
        $.ajax({
            method: "POST",
            url: "/admin/users/delete",
            data: {"userID":userID},
            success: function() {
            // if(/* check if it is ok */) {
                location.reload();
            // }
            }
        })
    }
  }
  $(document).ready(function() {
        $('#myInput').on( 'keyup change', function () {
            var table = $('#myTable').DataTable({
            "pageLength": 100,
            "paging":   false,
            "ordering": false,
            "info":     false,
            destroy: true
        })
        table.search( this.value ).draw();
            console.log("Key in")
        } );
    })
</script>
<% include ../partials/footer.ejs %>