<% include ./partials/header.ejs %>
<title>GradBunker - Add Student</title>
<% include ./partials/navbar.ejs %>
<style>
  select{
    border: 1px solid rgba(39, 29, 33, 0.48);
  }
</style>
<div class="row">
    <div class="col s12 m10 offset-m1 l4 offset-l4">
      <div class="card-panel">
        <h4 class="center">Add Student</h4>
        <div class="row">
          
          <%var link="";
          if(update=='none'){
            link="/addStudent";
          }else{
            link="/updateStudent/"+update.author._id;
          }
          %>
          
          
          
    <form class="col s12 " action="<%=link%>" method="POST" id="SignUpForm">
      
        <div class="input-field col m6 s12">
          <input id="firstName" name="firstName" type="text" class="validate">
          <label for="firstName">First Name</label>
        </div>
        <div class="input-field col m6 s12">
          <input id="lastName" name="lastName" type="text" class="validate">
          <label for="lastName">Last Name</label>
        </div>
      
      
      <div class="input-field col s12">
        <input id="email" name="email" type="email" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col m6 s12">
        <select class="browser-default" id="gender" name="gender">
          <option value="" disabled selected>Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
        <!--<label>Student's Gender</label>-->
      </div>
    
    
      <div class="input-field col m6 s12">
        <select class="browser-default" id="sem" name="sem">
          <option value="" disabled selected>Select Semester</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
        </select>
        <!--<label>Semester</label>-->
      </div>
      <div class="input-field col m6 s12">
        <input id="usn" name="usn" type="text" class="validate">
        <label for="usn">USN</label>
      </div>
      <div class="input-field col m6 s12">
        <select class="browser-default" name="department" id="department" required>
            <option value="" disabled selected>Select Department</option>
            <option value="CSE">Computer Science</option>
            <option value="ISE">Information Science</option>
            <option value="ECE">Electronics & Communication</option>
            <option value="ME">Mechanical</option>
            <option value="EEE">Electrical</option>
            <option value="CE">Civil</option>
        </select>
    </div>
    
    
        <div class="input-field col s12">
          <button class="btn waves-effect waves-light right" type="submit" name="action">Add
            <i class="material-icons right">send</i>
          </button>
        </div>
      
    </form>
  </div>
      </div>
    </div>
</div>


<script>
  <% if(update!= 'none'){ %>
    $('#firstName').val('<%=update.author.firstName%>');
    $('#lastName').val('<%=update.author.lastName%>');
    $('#email').val('<%=update.author.email%>');
    $('#gender').val('<%=update.gender%>');
    $('#sem').val('<%=update.semester%>');
    $('#usn').val('<%=update.author.usn%>');
    $('#department').val('<%=update.department%>');
  <% } %>
</script>

<%include ./partials/script.ejs%>
<% include ./partials/footer.ejs %>