<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>
<% include ./sidenav.ejs %>
<style>
     .form-error{
        color:red;
    }
</style>
    <div class="row">
        <div class="col s12 m10 l10">
            <div class="card-panel row">
                <h4 class="center">Update Your Profile</h4>
                <form  method="POST" enctype="multipart/form-data" action="/student/updateProfile" id="form">
                    <section id="first">
                    <h6 class="center">Personal Info</h6>
                    <div class="input-field col s6">
                        <input name="firstName" id="firstName" type="text" readonly value="<%= student.author.firstName %>">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input name="lastName" id="lastName" type="text" readonly value="<%= student.author.lastName %>">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="usn" name="usn" type="text" readonly value="<%= student.USN %>">
                        <label for="usn">USN</label>
                    </div>
                    <div class="input-field col s6">
                        <% if(student.selectedPlacements){  %>
                            <input id="placementNumber" name="placementNumber" type="text" 
                            value="<%= student.selectedPlacements.length %>" readonly>
                        <% } else{ %>
                            <input id="placementNumber" name="placementNumber" type="text" value="0" readonly>
                        <% } %>
                        <label for="placementNumber">Number of Placements</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="sem" name="sem" type="text" readonly value="<%= student.semester %>">
                        <label for="sem">Semester</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" id="department" name="department" value="<%= student.department %>" readonly >
                        <label>Department</label>
                    </div>
                    <div class="input-field col s6" id="date">
                        <input id="dob" name="dob" type="text" class="validate" 
                        value="<%= student.DOB %>" style="margin-bottom:0">
                        <label for="dob">Date of Birth</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="gender" name="gender" >
                            <option readonly value="<%= student.author.gender %>" selected><%= student.author.gender %></option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                        <label>Gender</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="email" name="email" type="email" readonly value="<%= student.author.email %>">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="phone" name="phone" type="tel" value="<%= student.mobile1 %>"
                        data-validation="custom" data-validation-regexp="^\d{10}$"
                        data-validation-error-msg="Enter a valid 10 digit number">
                        <label for="phone">Phone number*</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="address" name="address" class="materialize-textarea" ><%= student.address %></textarea>
                        <label for="address">Address</label>
                    </div>
                    <div class="input-field">
                        <button type="button" onclick="test('#form')" class="waves-effect waves-light btn blue right">Next  &gt;</button>
                    </div>
                    </section>
                    
                    <section id="second">
                    <h6 class="center-align">Educational Profile</h6>
                    <!--10th Result-->
                    <div class="input-field col s9">
                        <p style="color: grey">10th Result Details</p>
                    </div>
                    <div class="input-field col s4">
                        <select id="tenthBoard" name="tenthBoard" data-validation="required">
                          <option readonly value="<%= student.tenthResult.board %>" selected><%= student.tenthResult.board %></option>
                          <option>SSLC</option>
                          <option>CBSE</option>
                          <option>ICSE</option>
                          <option>Other</option>
                        </select>
                        <!--<label>Select Board</label>-->
                    </div>
                    
                    <!--Percentage-->
                    <div class="input-field col s4">
                      <input id="tenthPercentage" name="tenthPercentage" type="text" value="<%= student.tenthResult.Percentage %>"
                      data-validation="number" data-validation-allowing="range[0.0;100.0],float"
                      data-validation-error-msg="Enter valid %. Ex: '99.99', '90'">
                      <label class="active" for="tenthPercentage">Percentage*</label>
                    </div>
                    
                    <!--Year of Passing-->
                    <div>
                    <div class="input-field col s4">
                      <select id="tenthPassYear" name="tenthPassYear" data-validation="required">
                          <% var dt = new Date();
                             var year = dt.getFullYear() %>
                          <option value="<%= student.tenthResult.yearPassed %>" readonly selected><%= student.tenthResult.yearPassed %></option>
                          <% for(var i = 2005;i <= year;i++){ %>
                              <option><%= i %></option>
                            <% } %>
                        </select>
                        <label>Year Of Passing</label>
                    </div>
                    
                    <!--Upload marks card-->
                    <div class="input-field col s12">
                        <% if(student.tenthResult.reportLink){ 
                                reportName="Click to re-upload image"
                            }else{
                                reportName=""
                            } %>
                        <div class="file-field input-field">
                        <div class="btn blue-grey">
                            <span>Browse</span>
                            <input type="file" name="tenthCard" 
                                accept="image/x-png,image/gif,image/jpeg">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" 
                            placeholder="Upload 10th marks card(Image Only)" value="<%=reportName%>" >
                        </div>
                        </div>
                    </div>
                    </div>
                    
                    <!--12th Result-->
                    <div class="input-field col s9">
                        <p style="color: grey">12th Result Details</p>
                    </div>
                    <div class="input-field col s4">
                        <select id="twelfthBoard" name="twelfthBoard" data-validation="required">
                          <option readonly value="<%= student.twelfthResult.board %>" selected><%= student.twelfthResult.board %></option>
                          <option>PU</option>
                          <option>CBSE</option>
                          <option>ISC</option>
                          <option>Other</option>
                        </select>
                        <!--<label>Select Board</label>-->
                    </div>
                    
                    <!--Percentage-->
                    <div class="input-field col s4">
                      <input id="twelfthPercentage" name="twelfthPercentage" type="text" value="<%= student.twelfthResult.Percentage %>" 
                      data-validation="number" data-validation-allowing="range[0.0;100.0],float"
                      data-validation-error-msg="Enter valid %. Ex: '99.99', '90'">
                      <label class="active" for="twelfthPercentage">Percentage*</label>
                    </div>
                    
                    <!--Year of Passing-->
                    <div class="input-field col s4">
                      <select id="twelfthPassYear" name="twelfthPassYear" data-validation="required">
                          <% var dt = new Date();
                             var year = dt.getFullYear() %>
                          <option readonly value="<%= student.twelfthResult.yearPassed %>" selected><%= student.twelfthResult.yearPassed %></option>
                          <% for(var i = 2005;i <= year;i++){ %>
                              <option><%= i %></option>
                            <% } %>
                        </select>
                        <label>Year Of Passing</label>
                    </div>
                    
                    <!--Upload marks card-->
                    <div class="input-field col s12" style="padding-bottom: 5%">
                        <% if(student.twelfthResult.reportLink) {
                                reportName="Click to re-upload image"
                            }else{
                                reportName=""
                            } %>
                        <div class="file-field input-field">
                        <div class="btn blue-grey">
                            <span>Browse</span>
                            <input type="file" name="twelfthCard"
                                accept="image/x-png,image/gif,image/jpeg">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" 
                            placeholder="Upload 12th marks card(Image Only)" value="<%=reportName%>">
                        </div>
                        </div>
                    </div>
                    
                    <div>
                        <button type="button" onclick="prev_step1()" class="waves-effect waves-light btn blue left">&lt; Previous</button>
                        <button type="button" onclick="test2('#form')" class="waves-effect waves-light btn blue right">Next  &gt;</button>
                    </div>
                    </section>

                    <section id="third">
                    <h6 class="center-align">Educational Profile</h6>
                    <!--BE Result-->
                    <div class="input-field col s12">
                        <p style="color: grey">BE Result Details</p>
                    </div>
                    <div id="semResults">
                    <div class="forCount">
                        <% var id1,id2,id3,percent,len,reportName,path= []; %>
                        <% for(var i = 1; i<= student.semester;i++){ 
                            id1 = "sem"+i;
                            id2 = "semPercentage"+i;
                            id3 = "semCard"+i;
                            len = student.semResults.length;
                            if(i<=len){
                                percent = student.semResults[i-1].Percentage;
                                // path = student.semResults[i-1].reportLink.split('/');
                                if(student.semResults[i-1] && student.semResults[i-1].reportLink.length>0) {
                                    reportName="Click to re-upload image"
                                }else{
                                    reportName=""
                                }
                            }
                            else{
                                percent = null;
                                reportName = null;
                            } %>
                        <div class="input-field col s2">
                            <input id="<%= id1 %>" name="<%= id1 %>" type="text" class="validate"   value="<%= i %>">
                            <label class="active" for="<%= id1 %>">Sem</label>
                        </div>
                    
                    <!--Percentage-->
                        <div class="input-field col s2">
                          <input id="<%= id2 %>" name="<%= id2 %>" type="text" value="<%= percent %>">
                          <label class="active" for="<%= id2 %>">Percentage</label>
                        </div>
                        
                        <!--Upload marks card-->
                        <div class="input-field file-field col s8">
                            <div class="btn blue-grey">
                                <span>Browse</span>
                                <input type="file" name="<%= id3 %>"
                                    accept="image/x-png,image/gif,image/jpeg">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" 
                                    placeholder="Marks Sheet(Image Only)" value="<%= reportName %>">
                                <!--<label class="active">Marks Sheet</label>-->
                            </div>
                        </div>
                        <% } %>
                    </div>
                    
                    </div>
                    
                    
                    <!--Certifications-->
                    <div class="input-field col s12">
                        <p style="color: grey">Certifications</p>
                    </div>
                    <% var allcerts = '';
                        if(student.certifications.length>0){
                            student.certifications.forEach(function(cert){
                                allcerts = allcerts + cert.description + ', ';
                            })
                        }
                    %>
                    <div class="input-field col s12">
                        <input id="titles" name="titles" type="text" value="<%= allcerts %>" readonly>
                        <label class="active" for="titles">Certifications Submitted</label>
                    </div>
                    <div id="certifications">
                    <div class="forCount">
                    
                        <div class="input-field col s4">
                            <input id="title1" name="title1" type="text" class="validate" value=''>
                            <label class="active" for="title1">Title</label>
                        </div>
                        
                        <!--Upload certificate-->
                        <div class="input-field file-field col s8">
                            <div class="btn blue-grey">
                                <span>Browse</span>
                                <input type="file" name="title1Card"
                                    accept="image/x-png,image/gif,image/jpeg">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" 
                                    placeholder="Upload Certificate(Image only)">
                            </div>
                        </div>
                    
                    </div>
                    </div>
                    
                    <!--Upload Resume-->
                    <div class="input-field col s12">
                        <p style="color: grey">Resume</p>
                    </div>
                    <% if(student.resumeLink) {
                            reportName="Click to re-upload document"
                        }else{
                            reportName=""
                        }
                    %>
                    <div class="input-field col s12" style="padding-bottom: 5%">
                        <div class="file-field input-field">
                        <div class="btn blue-grey">
                            <span>Browse</span>
                            <input type="file" name="resume" accept="application/pdf, image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" 
                                placeholder="Upload your resume(image or pdf)" value="<%= reportName %>">
                        </div>
                        </div>
                    </div>
                    
                    
                    <div class="input-field col s12">
                        <button type="button" onclick="prev_step2()" class="waves-effect waves-light btn blue left">&lt; Previous</button>
                        <button id="submit" name="submit" class="waves-effect waves-light btn green right">UPDATE  &gt;</button>
                    </div>
                    </section>

                </form>
            </div>
        </div>
    </div>
    
<script type="text/javascript">
    $('#dob').datetimepicker({
        timepicker: false,
        format: "d-m-Y",
        mask:true,
        maxDate: '+1970/01/02'
    });
    document.getElementById("second").style.display = "none";
    document.getElementById("third").style.display = "none";
    function next_step1() {
        document.getElementById("first").style.display = "none";
        document.getElementById("second").style.display = "block";
    }
    // Function that executes on click of first previous button.
    function prev_step1() {
        document.getElementById("first").style.display = "block";
        document.getElementById("second").style.display = "none";
    }
    // Function that executes on click of second next button.
    function next_step2() {
        document.getElementById("second").style.display = "none";
        document.getElementById("third").style.display = "block";
    }
    // Function that executes on click of second previous button.
    function prev_step2() {
        document.getElementById("third").style.display = "none";
        document.getElementById("second").style.display = "block";
    }
    $.validate({
        scrollToTopOnError : true
    });
    var myConf = {},
    myLang = {};
    myConf = $.extend($.formUtils.defaultConfig(), myConf)
    function test(formGroupID) {
        var valid = $(formGroupID).validateForm(myLang, myConf);
        if( valid ) {
            next_step1();
        } else {
            alert("Missing fields! Please ensure required fields are filled")
        }
    }
    function test2(formGroupID) {
        var valid = $(formGroupID).validateForm(myLang, myConf);
        if( valid ) {
            next_step2();
        } else {
            alert("Missing fields! Please ensure required fields are filled")
        }
    }
    
    $(document).on("focus",'#certifications > div:last', function(){
        var allGood=true;
        var lastInputField=1;
        $("#certifications .forCount").each(function() {
            lastInputField++;
        });
        if (allGood) {
            var inputField = '<div class="forCount"> '+
                '<div class="input-field col s4"> '+
                '<input id="title'+lastInputField+'" name="title'+lastInputField+'" type="text" '+ 
                'class="validate"  value=""> <label class="active" for="title'+
                lastInputField+'">Title</label> </div> <div class="input-field file-field col s8"> '+
                '<div class="btn blue-grey"> <span>Browse</span> <input type="file" name="title'+
                lastInputField+'Card" accept="image/x-png,image/gif,image/jpeg"> </div> <div class="file-path-wrapper"> '+
                '<input class="file-path validate" type="text" placeholder="Upload Certificate(Image Only)"> '+
                ' </div> </div> </div>'
            $(inputField).appendTo("#certifications");
        }
    });
</script>

<% include ../partials/footer.ejs %>